numpy
h5py==3.11.0
matplotlib
scipy
imageio
scikit-image

# NOTE: PyScreeze depends on Pillow
pillow
# torch
# torchaudio
# torchvision
# scikit-learn

requests

fastapi
pydantic
pydantic_core
uvicorn
